/* shared style */
body {
  font-family: "Open Sans", sans-serif;
}
.portfolio-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 40px;
}
/* primary color */
.primary-color {
  color: #fd6e0a;
}
/* nav related styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 200 200;
}
nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
}
nav li {
  margin-left: 20px;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: rgb(75, 66, 66);
}
/* primary button style */
.primary-button {
  color: #ffffff;
  background-color: #fd6e0a;
  border: none;
  padding: 15px 10px;
  border-radius: 5px;
}
/* header related style */
.header {
  background-color: #fff8f3;
  background-image: url("/images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner-content {
  max-width: 500px;
}
.banner .profile-picture {
  width: 500px;
}
.banner-greeting {
  font-size: 45px;
}
.banner-title {
  font-size: 60px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
/* main section style */

/* about section style */
.about {
  padding: 131px;
  background-color: #fff8f3;
  border-radius: 10px;
  margin:130 0;
}
.about-title {
  color: var(--dark-01, #181818);
  text-align: center;
  font-family: Open Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.about-desc {
  color: var(--dark-03, #757575);
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
